<div class="dropdown" style="position: relative; display:inline-block;">
    <span class="badge bg-primary notification-badge" style="transition: 0.3s;">{{ notifications.count }}</span>
    <div class="dropdown-content" style="background-color: #f1f1f1; min-width: 325px; z-index:1; font-size:0.9rem; color:black; padding: 12px 16px; text-decoration:none;" id="notification-container">
        {% for notification in notifications %}
            {% if notification.post %}
                {% if notification.notification_type == 1 %}
                <div class="dropdown-item-parent">
                    <a href="{% url 'post-notification' notification.pk notification.post.pk %}">@{{notification.from_user}} liked your post</a>
                    <span class="dropdown-item-close">&times;</span> 
                </div>
                {% elif notification.notification_type == 2 %}
                <div class="dropdown-item-parent">
                    <a href="{% url 'post-notification' notification.pk notification.post.pk %}">@{{notification.from_user}} commented your post</a>
                    <span class="dropdown-item-close">&times;</span> 
                </div>
                {% endif %}
            {% elif notification.comment %}
                {% if notification.notification_type == 1 %}
                <div class="dropdown-item-parent">
                    <a href="{% url 'post-notification' notification.pk notification.comment.post.pk %}">@{{notification.from_user}} liked your comment</a>
                    <span class="dropdown-item-close">&times;</span> 
                </div>     
                {% elif notification.notification_type == 2 %}
                <div class="dropdown-item-parent">
                    <a href="{% url 'post-notification' notification.pk notification.comment.post.pk %}">@{{notification.from_user}} replied to your comment</a>
                    <span class="dropdown-item-close">&times;</span> 
                </div>
                {% endif %}
            {% else %} 
            {% if notification.notification_type == 3 %}
            <div class="dropdown-item-parent">
                <a href="{% url 'follow-notification' notification.pk notification.from_user.profile.pk %}">@{{notification.from_user}} has started following you</a>
                <span class="dropdown-item-close">&times;</span> 
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}




    </div>

</div>